@import '../../styles/variables.scss';

.wrapper-app {
    min-width: 100vw;
    min-height: 100vh;
    background-image: url($bi);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: $background-color;
    margin: 0;
    display: flex;
    flex-direction: column;

    .container {
        flex-grow: 1;
    }
}

main {
    margin-top: 116px;
}