@import '../../../styles/variables.scss';

.auth-input-container {
  width: 420px;
  height: 118px;
}

.authorization-input {
  box-sizing: border-box;
  width: 420px;
  height: 80px;
  background-color: $background-inputs-buttons;
  border-radius: $border-radius-inputs-buttons;
  display: flex;
  align-items: center;
  font-family: $main-font;
  font-style: normal;
  font-weight: 300;
  font-size: $font-size-placeholder;
  line-height: 28px;
  color: $color-placeholder;
  padding-left: 35px;
  outline: none;

  &:focus {
    border: 4px solid $color-text;
    color: #212529;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
  }
}

.invalid-message {
  color: $color-error;
  font-family: $main-font;
  font-style: normal;
  font-weight: 300;
  font-size: $font-size-errors-message;
  line-height: 26px;
  padding-left: 35px;
  margin: 5px 0 0;
}