@import '../../../styles/variables.scss';

.authorization-input {
  width: 420px;
  height: 80px;
  background-color: $second-color;
  border-radius: $border-radius;
  padding-left: 35px;
}

.authorization-input::placeholder {
  font-family: $main-font;
  font-style: normal;
  font-weight: 300;
  font-size: $font-size-sm;
  line-height: 28px;
  color: $main-color;
}