$main-font: 'Roboto', sans-serif;

$font-size-sm: 24px;
$font-size-md: 28px;
$font-size-lg: 36px;

$main-color: #171616;
$second-color: #BFF450;
$background-color: #34460D;
$link-color: #FFFFFF;

$border-radius: 10px;

$bi: '../../assets/background-img.png';




