$main-font: 'Roboto', sans-serif;

$background-inputs-buttons: #BFF450;
$background-basic: #34460D;

$border-radius-inputs-buttons: 10px;

$bi: '../../assets/background-img.png';

$color-link: #FFFFFF;
$color-placeholder: #171616;

$font-size-headers-button: 36px;
$font-size-placeholder: 24px;