$main-font: 'Roboto', sans-serif;

$font-size-sm: 24px;
$font-size-md: 28px;
$font-size-lg: 36px;

$font-size-errors-message: 20px;
$font-size-auth-links: 18px;

$main-color: #171616;
$second-color: #BFF450;
$background-color: #34460D;
$link-color: #FFFFFF;
$error-color: #DF5CE0;
$text-color: #D9D9D9;

$border-radius: 10px;

$bi: '../../assets/background-img.png';
