.field__type-name {
    color:goldenrod;
    font-size: 15px;

}

.field__link {
    text-decoration: none;
}

.field__h3 {
    margin-top: 15px;
}

.fieldData__name {
    color: goldenrod;
    margin-top: 5px;
}

.field__arg {
    color: red;
}

.field__li {
    margin-bottom: 10px;
}