@import '../../styles/variables.scss';

.wrapper-welcome {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.welcome-page {
  width: 450px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  &__block {
    padding: 16px;
    margin: 10px 0;
    margin-right: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 400px;
    height: 200px;
    background: $main-color;
    border-radius: 10px;
    color: $link-color;
    font-size: 20px;

    &-row-img {
      max-width: 145px;
      max-height: 135px;

      .welcome-page__block-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }

    &-row-text {
      margin-left: 20px;
      height: 140px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

      h5 {
        font-size: $font-size-sm;
        margin-bottom: 3px;
      }

      p {
        font-size: 18px;
      }
    }
  }
}

.welcome-course {
  height: 100%;
}
.welcome-course__block {
  width: 400px;
  padding: 17px;
  margin: 10px 0;
  margin-left: 50px;
  max-width: 400px;
  height: 556px;
  background: $main-color;
  border-radius: 10px;
  color: $link-color;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  p {
    margin: 10px 0;
  }
}

@media (max-width: 925px) {
  .wrapper-welcome {
    flex-direction: column;
    align-items: center;
  }
  .welcome-course__block {
    margin-left: 0;
    height: 556px * 0.7;

    p {
      font-size: 16px;
    }
  }
  .welcome-page {
    margin-bottom: 10px;
  }
  .welcome-page__block {
    height: 150px;
    margin: 10px auto;
  }
  .welcome-page__block-row-img {
    width: 30%;
  }
  .welcome-page__block-row-text {
    h5 {
      font-size: $font-size-sm * 0.7;
    }
    p {
      font-size: 16px;
    }
  }
}

@media (max-width: 525px) {
  .welcome-course__block {
    width: 400px * 0.7;
    font-size: 14px;
    height: 556px * 0.9;
  }
  .welcome-page__block {
    width: 400px * 0.7;
  }
  .welcome-page__block-row-img {
    width: 30%;
  }
  .welcome-page__block-row-text {
    h5 {
      font-size: $font-size-sm * 0.6;
    }
    p {
      font-size: 14px;
    }
  }
}