textarea {
	resize: none;
    background-color: #171616;
    border: none;
    overflow-y: auto;
    outline : none;
    color: aliceblue;
    font-size: 14px;
    border-radius: 5px;
}

.wrapper-playground {
    display: flex;
    min-height: 100vh;
    width: 100vw;
    margin-top: 120px;
    margin-bottom: 20px;
}

.aside-playground {
    width: 85px;
    background-color: #171616;
    border-radius: 5px;
    display: flex;
   justify-content: center;
   padding-top: 21px;
}

.editor-container {
    display: flex;
    flex: 1;
    margin: 0px 10px;
//     padding: 0px 10px;

    .request-container {
        height: 600px;
        margin-right: 10px;
    }
    .response-container {
        background-color: #171616;
        width: 45%;
        &:hover {
            background-color: #232521;
          }
    }

    .variables-container {
        height: 200px;
        background-color:#242424;
        margin: 5px 10px 15px 5px;
        width: 90%;
    }

    .editor-left-container {
        display: flex;
        flex-direction: column;
        flex: 1;
    }
}

.variables-wrapper {
    display: flex;
    height: auto;
    //flex: 1;
    flex-direction: column;
    background-color:#171616;
    margin-right: 10px;
    border-top: 1px solid gray;
    color: aliceblue;
}

.variables-header {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.1rem;
    margin: 0px 5px;
}

@media (max-width: 992px) {
    
   }
